@using desafioTuntsRock2024.Extensions;
@model IEnumerable<Student>

@{
    ViewData["Title"] = "Student Grades";
    List<Student> listStudentsRemediation = Model.Where(student => student.Situation == SituationEnum.FinalExam).ToList();
    List<Student> listStudentsPassed = Model.Where(student => student.Situation == SituationEnum.Passed).ToList();
    List<Student> listStudentsAbsenteeFailure = Model.Where(student => student.Situation == SituationEnum.AbsenteeFailure).ToList();
    List<Student> listStudentsGradeFailure = Model.Where(student => student.Situation == SituationEnum.GradeFailure).ToList();
}
<h4>Click here to access <a href="https://docs.google.com/spreadsheets/d/1zAf-k_maGFfR78mR269QbSvfHi8DxnFImwHH0FIPGTk/edit?usp=sharing" target="_blank">the full spreadsheet</a></h4>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Students Grade</h3>
    </div>
    <div class="panel-body">
        <form asp-action="SaveAvg" method="post">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.Registration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.P1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.P2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.P3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Situation)
                        </th>
                        <th>AVG</th>
                        <th>
                            @Html.DisplayNameFor(model => model.FinalPassing)
                        </th>
                        <th>FinalGrade</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listStudentsRemediation.Count(); i++)
                    {
                        var item = listStudentsRemediation[i];
                        double avgStudend = Math.Round(((item.P1 + item.P2 + item.P3) / 3) / 10, 1);
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Registration)
                                <input type="hidden" name="students[@i].Registration" value="@item.Registration" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                                <input type="hidden" name="students[@i].Name" value="@item.Name" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Absence)
                                <input type="hidden" name="students[@i].Absence" value="@item.Absence" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.P1)
                                <input type="hidden" name="students[@i].P1" value="@item.P1" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.P2)
                                <input type="hidden" name="students[@i].P2" value="@item.P2" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.P3)
                                <input type="hidden" name="students[@i].P3" value="@item.P3" />

                            </td>
                            <td>
                                @(((SituationEnum)item.Situation).GetDescription())
                                <input type="hidden" name="students[@i].Situation" value="@item.Situation" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => avgStudend)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinalPassing)
                                <input type="hidden" name="students[@i].FinalPassing" value="@item.FinalPassing" />

                            </td>
                            <td>
                                <input type="text" name="students[@i].FinalGrade" class="form-control" value="@item.FinalGrade" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Passeds Students</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Registration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Absence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situation)
                    </th>
                    <th>AVG</th>
                    <th>
                        @Html.DisplayNameFor(model => model.FinalPassing)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < listStudentsPassed.Count(); i++)
                {
                    var item = listStudentsPassed[i];
                    double avgStudend = Math.Round(((item.P1 + item.P2 + item.P3) / 3) / 10, 1);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Absence)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P1)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P2)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P3)

                        </td>
                        <td>
                            @(((SituationEnum)item.Situation).GetDescription())

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => avgStudend)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalPassing)

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Absentee Failure</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Registration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Absence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FinalPassing)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < listStudentsAbsenteeFailure.Count(); i++)
                {
                    var item = listStudentsAbsenteeFailure[i];
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Absence)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P1)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P2)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P3)

                        </td>
                        <td>
                            @(((SituationEnum)item.Situation).GetDescription())

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalPassing)

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Grade Failure</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Registration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Absence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situation)
                    </th>
                    <th>AVG</th>
                    <th>
                        @Html.DisplayNameFor(model => model.FinalPassing)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < listStudentsGradeFailure.Count(); i++)
                {
                    var item = listStudentsGradeFailure[i];
                    double avgStudend = Math.Round(((item.P1 + item.P2 + item.P3) / 3) / 10, 1);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Absence)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P1)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P2)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P3)

                        </td>
                        <td>
                            @(((SituationEnum)item.Situation).GetDescription())

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => avgStudend)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalPassing)

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
