@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students in final exams";
}

<div class="panel panel-primary">
    
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Registration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Absence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.P3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FinalPassing)
                    </th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Absence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.P3)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Situation)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalPassing)
                        </td>
                       @* <td>
                            <a asp-action="CreateOrEdit" asp-route-id="@item.Id">Editar</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
